.nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  width: 100vw;
  /* height: 50px; */
}

.nav-item {
  /* height: 30px; */
  text-decoration: none;
  color: white;
  border-right: 1px solid #888;
  padding: 5px;
  font-size: 18px;
}

.nav-item:hover {
  background: white;
  color: black;
}
